@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

 html {
    width: 100%;
    overflow-x: hidden;
 }

 body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%); 
    width: 100%;
    margin: 0 auto;
 }

 /*CORES DE FUNDO DO SITE*/
 body,
 .cabecalho,
 footer {
    background: linear-gradient(90deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    border-bottom: 0.4px solid #FFF2E7;
    z-index: 100;
}  

.cabecalho-imagem{
    height: 100px;
}

.cabecalho-menu-item:hover{
    color: #2F2325;
}

.cabecalho i{
    font-size: 30px;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    gap: 32px;
}

.nav-menu a {
    cursor: pointer;
    font-weight: bold;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    color: #2F2325;
}

/*LUPA DE PESQUISA*/
.cabecalho i{
    font-size: 30px;
    cursor: pointer;
}

/*MENU MOSTRANDO SELEÇÃO / SELECIONADO*/
.nav-menu #selecionado {
    padding-inline: 8px;
    padding-block: 2px;
    border-radius: 5px;
    background-color: #8E5D52;
    color: rgb(49, 24, 24);
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: #FFF2E7;
    margin: 5px auto;
    transition: all 0.3s;
}

/* INICIO DESING DO CORPO*/

#conteudo-formacao{
    margin-top: 150px;
    margin-bottom: 48px;
    display: inline-block;
    width: 100%;
    padding: 20px;
}

@keyframes animacao {
    0% {width: 0%;}
    100% {width: 100%;}
}
.dev {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    position: relative;
    justify-content: center;
    animation: animacao 0.3s;
}

.caixa-imagem-dev {
    display: inline-block;
    position: absolute;

    width: 200px;
}

.imagem-dev {
    width: 200px;
    border-radius: 100px;   
}

.caixa-formacao-dev{
    position: relative;
    margin-top: 220px;
    width: 50%;
    
    flex-direction: column;
    padding: 10px 10px 10px 30px;
    background-color: #47322d;
    border-radius: 10px 20px 30px 40px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    text-shadow: 3px 3px black;
    color: #FFF2E7 ;
    text-align: center;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 3px 3px black;
    color: #FFF2E7 ;
    text-align: center;
}

.conteudo-principal-escrito-texto{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    color: #ECD6C4;
    text-align: center;
}

 .rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
 }


 .rodape-imagem{
    height: 80px;
    display: block;
    margin: 0 auto;
 }

 .copy {
    margin-top: 20px;
    text-align: center;
    color: #FFF2E7;
    font-size: 1.3em;
 }


 @media (max-width:770px) { /*INICIO RESPONSIVIDADE*/
    html body {
        width: 100%;
    }

    body {
        position: relative;
        top: 20px;
    }

    body,
    .cabecalho,
    .nav-menu,
    footer {
        background: linear-gradient(90deg, #2F2325 16.62%, #8E5D52 85.61%);
    }

    .cabecalho{
        padding: 18px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
  
    .menu{
        display: block;
    }
    
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu.ativo {
        right: 0;
        border-radius: 0;
        top: 155px ;
        gap: 30px;
        width: 100%;
        height: 100%;
    }

    .nav-menu.ativo i {
        display: none;
    }

    .nav-menu {
        position: fixed;
        right: -30%;
        top: 100px;
        border-radius: 100px;
        width: 10%;
        height: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0px;
        transition: 0.5s;
    }

    .cabecalho-menu-item{
        margin: 16px 0;
    }

    /* --------CORPO PRINCIAPL DO SITE----------- */

    
    #conteudo-formacao {
        margin-bottom: 48px;
        display: inline-block;
    }

    h1, h2 {
        text-align: center;
    }

}/*FIM RESPONSIVIDADE*/


